body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:56px;
  width:360px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:91px;
  width:360px;
  height:79px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:79px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:110px;
  top:139px;
  width:90px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:178px;
  width:360px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:217px;
  width:360px;
  height:73px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:26px;
  top:264px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:110px;
  top:264px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:193px;
  top:264px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:277px;
  top:264px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:15px;
  top:192px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:285px;
  top:192px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:198px;
  top:231px;
  width:26px;
  height:26px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:290px;
  top:231px;
  width:26px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:32px;
  top:231px;
  width:26px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:116px;
  top:231px;
  width:26px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:333px;
  top:191px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:296px;
  width:360px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:15px;
  top:312px;
  width:53px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:445px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u40_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u40_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:177px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:177px;
}
#u44 {
  position:absolute;
  left:2px;
  top:80px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:19px;
  top:16px;
  width:26px;
  height:26px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u46 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:19px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:71px;
  top:73px;
  width:26px;
  height:26px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:66px;
  top:99px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:19px;
  top:118px;
  width:26px;
  height:26px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u54 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:7px;
  top:144px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:16px;
  top:67px;
  width:22px;
  height:42px;
  font-size:36px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:33px;
  top:102px;
  width:60px;
  height:60px;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:15px;
  width:56px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:333px;
  top:124px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:117px;
  top:117px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
