body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:122px;
  width:360px;
  height:268px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:268px;
}
#u3 {
  position:absolute;
  left:2px;
  top:126px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:56px;
  width:360px;
  height:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:122px;
  width:360px;
  height:178px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:178px;
}
#u9 {
  position:absolute;
  left:2px;
  top:81px;
  width:356px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:100px;
  width:187px;
  height:15px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:18px;
  top:312px;
  width:8px;
  height:24px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:29px;
  top:310px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:68px;
  top:316px;
  width:29px;
  height:16px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:63px;
  top:318px;
  width:42px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:25px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  height:1px;
}
#u19 {
  position:absolute;
  left:19px;
  top:339px;
  width:325px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:40px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:0px;
  top:396px;
  width:360px;
  height:41px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:333px;
  top:409px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:18px;
  top:409px;
  width:82px;
  height:15px;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:443px;
  width:360px;
  height:197px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:197px;
}
#u28 {
  position:absolute;
  left:2px;
  top:90px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:600px;
  width:180px;
  height:38px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u30 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:180px;
  top:599px;
  width:180px;
  height:40px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:480px;
  width:360px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u34 {
  position:absolute;
  left:18px;
  top:458px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:18px;
  top:492px;
  width:322px;
  height:90px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:90px;
}
#u37 {
  position:absolute;
  left:2px;
  top:37px;
  width:318px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:436px;
  top:210px;
  width:360px;
  height:427px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:427px;
}
#u39 {
  position:absolute;
  left:2px;
  top:206px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:288px;
  top:318px;
  width:54px;
  height:16px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:436px;
  top:597px;
  width:360px;
  height:40px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:436px;
  top:304px;
  width:360px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u45 {
  position:absolute;
  left:447px;
  top:222px;
  width:80px;
  height:75px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u46 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:537px;
  top:235px;
  width:32px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:537px;
  top:262px;
  width:54px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:447px;
  top:323px;
  width:27px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:447px;
  top:404px;
  width:27px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:447px;
  top:490px;
  width:53px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:756px;
  top:222px;
  width:27px;
  height:27px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:447px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:513px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:578px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:644px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:447px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:513px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:578px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:644px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:447px;
  top:382px;
  width:340px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u76 {
  position:absolute;
  left:447px;
  top:464px;
  width:340px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u77 {
  position:absolute;
  left:620px;
  top:486px;
  width:60px;
  height:25px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:716px;
  top:486px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:693px;
  top:489px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:10px;
  top:58px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:350px;
  top:417px;
  width:90px;
  height:-190px;
}
#u85_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u85_seg1 {
  position:absolute;
  left:30px;
  top:-200px;
  width:20px;
  height:210px;
}
#u85_seg2 {
  position:absolute;
  left:30px;
  top:-200px;
  width:64px;
  height:20px;
}
#u86 {
  position:absolute;
  left:-10px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:80px;
  top:630px;
  width:360px;
  height:-370px;
}
#u87_seg0 {
  position:absolute;
  left:-10px;
  top:-150px;
  width:20px;
  height:154px;
}
#u87_seg1 {
  position:absolute;
  left:-10px;
  top:-150px;
  width:350px;
  height:20px;
}
#u87_seg2 {
  position:absolute;
  left:320px;
  top:-380px;
  width:20px;
  height:250px;
}
#u87_seg3 {
  position:absolute;
  left:320px;
  top:-380px;
  width:44px;
  height:20px;
}
#u88 {
  position:absolute;
  left:175px;
  top:-148px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:260px;
  top:635px;
  width:180px;
  height:-325px;
}
#u89_seg0 {
  position:absolute;
  left:-10px;
  top:-75px;
  width:20px;
  height:79px;
}
#u89_seg1 {
  position:absolute;
  left:-10px;
  top:-75px;
  width:180px;
  height:20px;
}
#u89_seg2 {
  position:absolute;
  left:150px;
  top:-335px;
  width:20px;
  height:280px;
}
#u89_seg3 {
  position:absolute;
  left:150px;
  top:-335px;
  width:34px;
  height:20px;
}
#u90 {
  position:absolute;
  left:110px;
  top:-100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:769px;
  top:224px;
  width:-410px;
  height:-80px;
}
#u91_seg0 {
  position:absolute;
  left:-10px;
  top:-90px;
  width:20px;
  height:94px;
}
#u91_seg1 {
  position:absolute;
  left:-414px;
  top:-90px;
  width:424px;
  height:20px;
}
#u92 {
  position:absolute;
  left:-215px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:268px;
  top:102px;
  width:138px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:121px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:4px;
  width:138px;
  height:2px;
}
#u94 {
  position:absolute;
  left:406px;
  top:93px;
  width:330px;
  height:27px;
  color:#FF0000;
  text-align:left;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:27px;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:326px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:897px;
  top:210px;
  width:360px;
  height:427px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:427px;
}
#u97 {
  position:absolute;
  left:2px;
  top:206px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:897px;
  top:597px;
  width:360px;
  height:40px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:897px;
  top:304px;
  width:360px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u101 {
  position:absolute;
  left:908px;
  top:222px;
  width:80px;
  height:75px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u102 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:998px;
  top:235px;
  width:32px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:998px;
  top:262px;
  width:54px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:908px;
  top:323px;
  width:27px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:908px;
  top:404px;
  width:27px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:908px;
  top:490px;
  width:53px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1217px;
  top:222px;
  width:27px;
  height:27px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:908px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:974px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1039px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1105px;
  top:349px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:908px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:974px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1039px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1105px;
  top:429px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:908px;
  top:382px;
  width:340px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u132 {
  position:absolute;
  left:908px;
  top:464px;
  width:340px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u133 {
  position:absolute;
  left:1081px;
  top:486px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1177px;
  top:486px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u136 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1154px;
  top:489px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:650px;
  top:510px;
  width:461px;
  height:0px;
}
#u139_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u139_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:481px;
  height:20px;
}
#u139_seg2 {
  position:absolute;
  left:451px;
  top:-4px;
  width:20px;
  height:64px;
}
#u140 {
  position:absolute;
  left:180px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1261px;
  top:487px;
  width:497px;
  height:60px;
  color:#FF0000;
  line-height:20px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:60px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1323px;
  top:557px;
  width:200px;
  height:50px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u144 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:610px;
  top:450px;
  width:459px;
  height:2px;
}
#u145_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u145_seg1 {
  position:absolute;
  left:-10px;
  top:10px;
  width:479px;
  height:20px;
}
#u145_seg2 {
  position:absolute;
  left:449px;
  top:-2px;
  width:20px;
  height:32px;
}
#u146 {
  position:absolute;
  left:178px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:540px;
  top:370px;
  width:464px;
  height:2px;
}
#u147_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u147_seg1 {
  position:absolute;
  left:-10px;
  top:10px;
  width:484px;
  height:20px;
}
#u147_seg2 {
  position:absolute;
  left:454px;
  top:-2px;
  width:20px;
  height:32px;
}
#u148 {
  position:absolute;
  left:181px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:806px;
  top:363px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:806px;
  top:443px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:1067px;
  top:635px;
  width:-1017px;
  height:-215px;
}
#u153_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:17px;
  height:20px;
}
#u153_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:100px;
}
#u153_seg2 {
  position:absolute;
  left:-1027px;
  top:70px;
  width:1040px;
  height:20px;
}
#u153_seg3 {
  position:absolute;
  left:-1027px;
  top:-219px;
  width:20px;
  height:309px;
}
#u154 {
  position:absolute;
  left:-663px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:43px;
  top:727px;
  width:300px;
  height:16px;
  color:#FF0000;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:43px;
  top:750px;
  width:360px;
  height:41px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u158 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:376px;
  top:763px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:61px;
  top:763px;
  width:86px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1086px;
  top:655px;
  width:497px;
  height:60px;
  color:#FF0000;
  line-height:20px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:60px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:437px;
  top:779px;
  width:360px;
  height:427px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:427px;
}
#u166 {
  position:absolute;
  left:2px;
  top:206px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:437px;
  top:1166px;
  width:360px;
  height:40px;
  color:#FFFFFF;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u168 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:437px;
  top:873px;
  width:360px;
  height:10px;
}
#u169_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u169_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u169_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u170 {
  position:absolute;
  left:447px;
  top:791px;
  width:80px;
  height:75px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u171 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:537px;
  top:804px;
  width:32px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:537px;
  top:831px;
  width:54px;
  height:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:447px;
  top:1059px;
  width:53px;
  height:16px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:757px;
  top:791px;
  width:27px;
  height:27px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u179 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:447px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u181 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:513px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u183 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:579px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u185 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:645px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u187 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:447px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u189 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:513px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u191 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:579px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
  color:#FFFFFF;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u193 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:645px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u195 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:447px;
  top:951px;
  width:340px;
  height:10px;
}
#u196_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u196_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u196_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u197 {
  position:absolute;
  left:447px;
  top:1033px;
  width:340px;
  height:10px;
}
#u197_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u198 {
  position:absolute;
  left:621px;
  top:1055px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u199 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:717px;
  top:1055px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u201 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:693px;
  top:1058px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:975px;
  top:779px;
  width:360px;
  height:427px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:427px;
}
#u205 {
  position:absolute;
  left:2px;
  top:206px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:975px;
  top:1166px;
  width:360px;
  height:40px;
  color:#FFFFFF;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u207 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:975px;
  top:873px;
  width:360px;
  height:10px;
}
#u208_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u209 {
  position:absolute;
  left:987px;
  top:791px;
  width:80px;
  height:75px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u210 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:1077px;
  top:804px;
  width:32px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:1077px;
  top:831px;
  width:54px;
  height:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:987px;
  top:1059px;
  width:53px;
  height:16px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:1295px;
  top:791px;
  width:27px;
  height:27px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u218 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:987px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u220 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:1053px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
  color:#FFFFFF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u222 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:1117px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u224 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:1183px;
  top:918px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u226 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:987px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u228 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:1053px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u230 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:1117px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u232 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:1183px;
  top:998px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u234 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:987px;
  top:951px;
  width:340px;
  height:10px;
}
#u235_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u235_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u235_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u236 {
  position:absolute;
  left:987px;
  top:1033px;
  width:340px;
  height:10px;
}
#u236_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u237 {
  position:absolute;
  left:1159px;
  top:1055px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u238 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:1255px;
  top:1055px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u240 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:1233px;
  top:1058px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u243 {
  position:absolute;
  left:829px;
  top:898px;
  width:117px;
  height:63px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:63px;
}
#u244 {
  position:absolute;
  left:2px;
  top:24px;
  width:113px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:447px;
  top:891px;
  width:27px;
  height:16px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u247 {
  position:absolute;
  left:447px;
  top:972px;
  width:27px;
  height:16px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u249 {
  position:absolute;
  left:989px;
  top:891px;
  width:27px;
  height:16px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:989px;
  top:972px;
  width:27px;
  height:16px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u253 {
  position:absolute;
  left:829px;
  top:980px;
  width:117px;
  height:63px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:63px;
}
#u254 {
  position:absolute;
  left:2px;
  top:24px;
  width:113px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:645px;
  top:1169px;
  width:190px;
  height:-260px;
}
#u255_seg0 {
  position:absolute;
  left:-10px;
  top:-40px;
  width:20px;
  height:44px;
}
#u255_seg1 {
  position:absolute;
  left:-10px;
  top:-40px;
  width:150px;
  height:20px;
}
#u255_seg2 {
  position:absolute;
  left:120px;
  top:-270px;
  width:20px;
  height:250px;
}
#u255_seg3 {
  position:absolute;
  left:120px;
  top:-270px;
  width:74px;
  height:20px;
}
#u256 {
  position:absolute;
  left:80px;
  top:-103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:1115px;
  top:1169px;
  width:-170px;
  height:-163px;
}
#u257_seg0 {
  position:absolute;
  left:-10px;
  top:-40px;
  width:20px;
  height:44px;
}
#u257_seg1 {
  position:absolute;
  left:-150px;
  top:-40px;
  width:160px;
  height:20px;
}
#u257_seg2 {
  position:absolute;
  left:-150px;
  top:-173px;
  width:20px;
  height:153px;
}
#u257_seg3 {
  position:absolute;
  left:-174px;
  top:-173px;
  width:44px;
  height:20px;
}
#u258 {
  position:absolute;
  left:-186px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:829px;
  top:1063px;
  width:125px;
  height:16px;
  color:#FF0000;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u261 {
  position:absolute;
  left:603px;
  top:1219px;
  width:417px;
  height:60px;
  color:#FF0000;
  line-height:20px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:60px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u263 {
  position:absolute;
  left:829px;
  top:791px;
  width:117px;
  height:63px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:63px;
}
#u264 {
  position:absolute;
  left:2px;
  top:24px;
  width:113px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:600px;
  top:630px;
  width:274px;
  height:161px;
}
#u265_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:23px;
  height:20px;
}
#u265_seg1 {
  position:absolute;
  left:-1px;
  top:-10px;
  width:20px;
  height:158px;
}
#u265_seg2 {
  position:absolute;
  left:-1px;
  top:128px;
  width:285px;
  height:20px;
}
#u265_seg3 {
  position:absolute;
  left:264px;
  top:128px;
  width:20px;
  height:37px;
}
#u266 {
  position:absolute;
  left:30px;
  top:130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:693px;
  top:1260px;
  width:27px;
  height:27px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u268 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:655px;
  top:1289px;
  width:360px;
  height:41px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u270 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:987px;
  top:1302px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u272 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:673px;
  top:1302px;
  width:57px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u275 {
  position:absolute;
  left:655px;
  top:1340px;
  width:360px;
  height:41px;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u276 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:987px;
  top:1353px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u278 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:673px;
  top:1353px;
  width:54px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u281 {
  position:absolute;
  left:655px;
  top:1443px;
  width:360px;
  height:41px;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u282 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:987px;
  top:1456px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u284 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:673px;
  top:1457px;
  width:82px;
  height:15px;
  font-size:12px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u287 {
  position:absolute;
  left:655px;
  top:1391px;
  width:360px;
  height:41px;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u288 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289 {
  position:absolute;
  left:988px;
  top:1404px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u290 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291 {
  position:absolute;
  left:673px;
  top:1404px;
  width:86px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u293 {
  position:absolute;
  left:18px;
  top:980px;
  width:388px;
  height:120px;
  color:#FF0000;
  line-height:20px;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:120px;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  white-space:nowrap;
}
#u295 {
  position:absolute;
  left:18px;
  top:917px;
  width:180px;
  height:38px;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u296 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:198px;
  top:916px;
  width:180px;
  height:40px;
  color:#FFFFFF;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u298 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:18px;
  top:866px;
  width:360px;
  height:41px;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u300 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:351px;
  top:879px;
  width:25px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u302 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:36px;
  top:879px;
  width:82px;
  height:15px;
  font-size:12px;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
