body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:56px;
  width:360px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:58px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:109px;
  width:340px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:11px;
  top:158px;
  width:235px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:10px;
  top:200px;
  width:340px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  word-wrap:break-word;
}
