body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:56px;
  width:360px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:58px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:95px;
  width:360px;
  height:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:15px;
  top:111px;
  width:94px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:240px;
  width:360px;
  height:130px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
}
#u13 {
  position:absolute;
  left:2px;
  top:57px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:15px;
  top:254px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:40px;
  top:302px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:40px;
  top:333px;
  width:100px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:0px;
  top:147px;
  width:360px;
  height:89px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:89px;
}
#u21 {
  position:absolute;
  left:2px;
  top:36px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:162px;
  width:180px;
  height:15px;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:184px;
  width:330px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:277px;
  width:360px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u27 {
  position:absolute;
  left:15px;
  top:400px;
  width:330px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
