body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:56px;
  width:360px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:125px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:125px;
}
#u7 {
  position:absolute;
  left:2px;
  top:54px;
  width:356px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:254px;
  width:178px;
  height:130px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u9 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:182px;
  top:254px;
  width:178px;
  height:130px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u11 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:339px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:9px;
  top:264px;
  width:160px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:192px;
  top:264px;
  width:160px;
  height:70px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:194px;
  top:339px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:13px;
  top:364px;
  width:19px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:197px;
  top:364px;
  width:19px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:394px;
  width:178px;
  height:130px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u25 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:182px;
  top:394px;
  width:178px;
  height:130px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u27 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:479px;
  width:66px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:9px;
  top:404px;
  width:160px;
  height:70px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u31 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:192px;
  top:404px;
  width:160px;
  height:70px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u33 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:194px;
  top:479px;
  width:66px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:13px;
  top:504px;
  width:19px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:197px;
  top:504px;
  width:19px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:25px;
  top:228px;
  width:60px;
  height:16px;
  color:#C9C9C9;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:150px;
  top:228px;
  width:60px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:269px;
  top:228px;
  width:60px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:140px;
  top:203px;
  width:15px;
  height:5px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:187px;
  top:203px;
  width:15px;
  height:5px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:163px;
  top:203px;
  width:15px;
  height:5px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:210px;
  top:203px;
  width:15px;
  height:5px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:445px;
}
#u54_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u54_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u54_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:177px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:177px;
}
#u58 {
  position:absolute;
  left:2px;
  top:80px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:19px;
  top:16px;
  width:26px;
  height:26px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:19px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:71px;
  top:73px;
  width:26px;
  height:26px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:66px;
  top:99px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:19px;
  top:118px;
  width:26px;
  height:26px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u68 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:7px;
  top:144px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:16px;
  top:67px;
  width:22px;
  height:42px;
  font-size:36px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:370px;
  top:0px;
  width:360px;
  height:640px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u74 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:370px;
  top:0px;
  width:360px;
  height:56px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u76 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:370px;
  top:56px;
  width:360px;
  height:35px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:370px;
  top:90px;
  width:360px;
  height:125px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:125px;
}
#u80 {
  position:absolute;
  left:2px;
  top:54px;
  width:356px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:370px;
  top:254px;
  width:178px;
  height:130px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u82 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:552px;
  top:254px;
  width:178px;
  height:130px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u84 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:380px;
  top:339px;
  width:53px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:379px;
  top:264px;
  width:160px;
  height:70px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u88 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:562px;
  top:264px;
  width:160px;
  height:70px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u90 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:564px;
  top:339px;
  width:66px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:383px;
  top:364px;
  width:19px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:567px;
  top:364px;
  width:19px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:370px;
  top:394px;
  width:178px;
  height:130px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u98 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:552px;
  top:394px;
  width:178px;
  height:130px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:130px;
}
#u100 {
  position:absolute;
  left:2px;
  top:57px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:380px;
  top:479px;
  width:66px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:379px;
  top:404px;
  width:160px;
  height:70px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u104 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:562px;
  top:404px;
  width:160px;
  height:70px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u106 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:564px;
  top:479px;
  width:66px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:383px;
  top:504px;
  width:19px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:567px;
  top:504px;
  width:19px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:395px;
  top:228px;
  width:60px;
  height:16px;
  color:#C9C9C9;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:520px;
  top:228px;
  width:60px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u115_img.mouseOver {
}
#u115.mouseOver {
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:639px;
  top:228px;
  width:60px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u117_img.mouseOver {
}
#u117.mouseOver {
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:510px;
  top:203px;
  width:15px;
  height:5px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:557px;
  top:203px;
  width:15px;
  height:5px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u122 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:533px;
  top:203px;
  width:15px;
  height:5px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u124 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:580px;
  top:203px;
  width:15px;
  height:5px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:370px;
  top:445px;
}
#u127_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u127_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:177px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:177px;
}
#u129 {
  position:absolute;
  left:2px;
  top:80px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:19px;
  top:16px;
  width:26px;
  height:26px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u131 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:19px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:71px;
  top:73px;
  width:26px;
  height:26px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u135 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:65px;
  top:99px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:19px;
  top:118px;
  width:26px;
  height:26px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u139 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:7px;
  top:144px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:16px;
  top:67px;
  width:22px;
  height:42px;
  font-size:36px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u127_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u127_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u145 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:18px;
  top:494px;
  width:10px;
  height:176px;
}
#u146_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u146_end {
  position:absolute;
  left:-5px;
  top:159px;
  width:20px;
  height:18px;
}
#u146_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:176px;
}
#u147 {
  position:absolute;
  left:395px;
  top:602px;
  width:10px;
  height:68px;
}
#u147_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u147_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:18px;
}
#u147_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:68px;
}
#u148 {
  position:absolute;
  left:9px;
  top:670px;
  width:713px;
  height:80px;
  color:#FF0000;
  text-align:left;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:80px;
}
#u149 {
  position:absolute;
  left:2px;
  top:16px;
  width:709px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:731px;
  top:266px;
  width:339px;
  height:80px;
  color:#FF0000;
  line-height:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:80px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
