body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:56px;
  width:360px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:58px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:193px;
  width:360px;
  height:153px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:153px;
}
#u9 {
  position:absolute;
  left:2px;
  top:68px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:230px;
  width:340px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u11 {
  position:absolute;
  left:15px;
  top:202px;
  width:58px;
  height:25px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:207px;
  width:53px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:15px;
  top:244px;
  width:50px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:73px;
  top:248px;
  width:145px;
  height:15px;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:10px;
  top:298px;
  width:340px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u20 {
  position:absolute;
  left:325px;
  top:248px;
  width:19px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:15px;
  top:316px;
  width:54px;
  height:16px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:73px;
  top:278px;
  width:16px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:15px;
  top:108px;
  width:79px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:590px;
  width:360px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:15px;
  top:607px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:270px;
  top:598px;
  width:81px;
  height:33px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:140px;
  width:360px;
  height:48px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:156px;
  width:118px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:12px;
  top:153px;
  width:23px;
  height:23px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:269px;
  top:202px;
  width:81px;
  height:26px;
  font-size:12px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:351px;
  width:360px;
  height:48px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:15px;
  top:367px;
  width:180px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:314px;
  top:362px;
  width:26px;
  height:26px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:415px;
  top:202px;
  width:240px;
  height:100px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:42px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:489px;
  top:226px;
  width:92px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:415px;
  top:260px;
  width:240px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u53 {
  position:absolute;
  left:443px;
  top:276px;
  width:27px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:605px;
  top:276px;
  width:27px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:334px;
  top:215px;
  width:80px;
  height:0px;
}
#u57_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u58 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:338px;
  top:370px;
  width:50px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  height:2px;
}
#u60 {
  position:absolute;
  left:388px;
  top:366px;
  width:144px;
  height:16px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
